<div style="overflow-x:auto;">
    <table class ="tableResponsive"  [ngClass]="{'animationClass': sideNavService.hideSideNav }">
        <th (click)="sortBy(7)" style="cursor:pointer">
                Status
                <mat-icon style="vertical-align: middle">{{icon[7]}}</mat-icon>
        </th>
        <th (click)="sortBy(2)" style="cursor:pointer">
            Line
            <mat-icon style="vertical-align: middle">{{icon[2]}}</mat-icon>
        </th>       
        <th (click)="sortBy(0)" style="cursor:pointer">
            Model
            <mat-icon style="vertical-align: middle">{{icon[0]}}</mat-icon>
        </th>
        <th (click)="sortBy(8)" style="cursor:pointer">
            Fixture
            <mat-icon style="vertical-align: middle">{{icon[8]}}</mat-icon>
        </th>
        <th>Fixture Location</th>
        <th (click)="sortBy(9)" style="cursor:pointer">
            CPU
            <mat-icon style="vertical-align: middle">{{icon[9]}}</mat-icon>
        </th>
        <th>CPU Location</th>
        <th (click)="sortBy(1)" style="cursor:pointer">
            Supervisor
            <mat-icon style="vertical-align: middle">{{icon[1]}}</mat-icon>
        </th>
        <th (click)="sortBy(3)" style="cursor:pointer">
            Time start
            <mat-icon style="vertical-align: middle">{{icon[3]}}</mat-icon>
        </th>
        <th (click)="sortBy(4)" style="cursor:pointer">
            Time accepted
            <mat-icon style="vertical-align: middle">{{icon[4]}}</mat-icon>
        </th>
        <th (click)="sortBy(4)" style="cursor:pointer">
            Time estimated
            <mat-icon style="vertical-align: middle">{{icon[4]}}</mat-icon>
        </th>
        <th (click)="sortBy(6)" style="cursor:pointer">
            Down time
            <mat-icon style="vertical-align: middle">{{icon[6]}}</mat-icon>
        </th>
     
        <tr *ngFor = "let model of models">
            <td [ngClass]="{'green_row': model.status == 'Terminado', 'red_row': model.status == 'Notificado',
                'orange_row': model.status == 'Preparando', 'yellow_row': model.status == 'Instalando'}">{{model.status}}</td>
            <td>{{model.line}}</td>
            <td>{{model.model}}</td>
            <td>{{model.fixture}}</td>
            <td>{{model.fixLocation}}</td>
            <td>{{model.cpu}}</td>
            <td>{{model.cpuLocation}}</td>
            <td>{{model.username}} {{model.user_lastname}}</td>
            <td>{{model.time_stamp}}</td>
            <td>{{model.time_attend}}</td>
            <td>{{time_est}}</td>
            <td>{{model.down_time}}</td>
            
        </tr>
    </table>
</div>
